body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('images/mum_1.jpeg');
    background-size: cover;
}

.mum {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    max-height: 600px;
    margin: 0 auto;
    margin-top: 300px;
}

h1 {
    color: rgb(0, 0, 255);
}

p {
    color: hsl(308, 93%, 50%);
    font-size: 18px;
    margin-top: 10px;
}

button {
    background-color: #ff6f61;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e8554e;
}

.mum img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50px;
}