{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Birthday Mama</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="mum">
        <h1>Happy Birthday <strong>Mum!</strong>, From your Son <b>Dancan</b></h1>
        <p><b>On this special day, I want to wish you all the happiness <br> , Love and Joy. I am so greatful to have you Mama</b></p>
        <img src= "{% static 'images/mum_4.jpeg' %}">
        <button id="surprise">Mama Surprise!</button>

    </div>

    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>